/Trashbin
venv
vevn
*.pyc
__pycache__
.env
.env.local
.env.production
.env.development
node_modules

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

frontend/.next

.secret

.secret.pem

# rasp-pi channel data files
rasp-pi/rtl_powerOutput/*.csv

# SES Channel List
**/SESChannelList.csv

# Audio files used for testing
/rasp-pi/radio-streaming/audio/*

main
