[Unit]
Description=Analytics Program Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/rasp-pi/process_and_report_analytics_data.py
WorkingDirectory=/opt/rasp-pi
Restart=always
User=root
EnvironmentFile=/etc/environment

[Install]
WantedBy=multi-user.target